.roboto-condensed-logo {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700; /* Bold */
    font-size: 2rem; /* Adjust to desired size */
    color: #28A745;  /* Green color for the logo */
  }
  